body{
    font-family: 'Montserrat', sans-serif;
}

/*<Header>*/
#Encabezado{
    background-color: #bbbbbb;
    padding: 20px 0; /* es el espaciador externo*/
    box-sizing: border-box;
   /* margin-bottom: 10px;*/

}


.titulo{

    text-align: center;
}

.caja{

    position: relative; /* se pone relative porque esta en conjunto con un objeto que es absoluto y se coloca relavite para que no choque */
    width: 75%; /* este es el tamaño del ancho que generalmente las pantallas son de 1200 px y se pone esto para que sea aprox 70%*/
    margin: 0 auto;
}


nav{

    position: absolute;
    top: 110px;
    right: 50px;
}

nav .url{

    display:inline;
    margin: 0 0 0 15px; /*margin agarra 4 valores "1 primero arriba" "2 segundo derecha" "3 tercero abajo"  " 4 cuarto izquierda"*/
    
}

nav a{

     text-transform: uppercase; /* para ponerle el formato de mayusculas a las letras*/
     color: #000000;
     font-weight: bold; /* para colocar negritas*/
     font-size: 22px;/* para el tamaño del texto*/
     text-decoration: none; /* ppara alterar las decoraciones en este caso para quitarle el subrayado de los vinculos*/

}

/* el :hover es para capturar el movimiento del  mouse*/
nav a:hover{

    color: #c78c19;
    text-decoration: underline;
}
/*<Header/>*/

/*<main>*/
.banner{

    width: 100%;
}

.principal{
    
    background: #fefefe;
 

}

.titulo-principal{
   
    text-align: center;
    font-size: 2em; /*el "em" es para aumentar x veces el tamaño por defecto en este caso 2 veces porque se utilizo 2em*/
    margin: 1em 0 ;
    clear: left;/*se utilisa para limpiar lo que este en la posicions eleccionada*/

    /*
    height: 150px; // esta es la altura se puede colorcar en pixeles como esta aqui
    border: 10px solid #99ffcc; // aqui se pone el borde y se define el tamaño y el color de ser el caso.
    padding: 20px; // este es el margen interno que va a tener el area
    margin: 40px; // este es el margen externo que va a tener el area
    */
}

.utensilios{

    width: 120px;
    float: left;/* se utiliza para poder hacer que los elementos que se especifiquen se hacerquen al objeto*/
    margin: 0 20px 20px 0;
}

.principal p {

    margin: 0 0 1em;
}

.principal strong{

    font-weight:bold ;
}

.principal em{

    font-style: italic;
}

.principal-contenido{
 
    width: 63%; /* para declarar el tamaño del elemento*/
    margin: 0 auto;/* para centrar la pagina en el medio de la parte horizontal*/

}

.mapa{

padding: 3em 0;
background: linear-gradient(#fefefe, #888888);

/*background: linear-gradient(45deg,white 50%, black 30%, grey 20%);  se utiliza para poder hacer degradado "dato curioso si al principio se le colocan los grados cambia la forma en ves de horizontal al grado anexado (45deg), tamien se puede definir el "%" que ocupe cada color " 
*/
/*background: radial-gradient(white 50%, black 30%, grey 20%); este es igual a gradiant pero enformato circular*/


}

.mapa p{
    text-align: center;
    margin: 0 0 3em 0 ;
}

.mapa-contenido{

    width: 63%; /* para declarar el tamaño del elemento*/
    margin: 0 auto;/* para centrar la pagina en el medio de la parte horizontal*/

}

.Diferenciales{

    background: #888888;
    padding: 30px;


}

#dif{

    display: inline-block; /* esta propiedad se utiliza para decirle a la etiqueta que solo ocupe su espacio utilizado*/
    vertical-align: top;/* esta se utiliza para la aliniacion vertical se le indica que se alinie en top arriba*/
    width: 40%;
    margin-right: 15%;
}

.contenido-dif{

    width: 640px;
    margin: 0 auto;

}

.items{
    font-style: italic;
    line-height: 1.5; /* se utiliza para darle el ancho a la linia proporcial a la font en este caso por que se multiplico por 1.5 es el 50% de la fuente lo que se le sumo a la linea entre texto*/
}

/*.items:first-child{}  asi se puede definir para modificar al primer elemento de la clase*/

.items:nth-child(1){ /* con este podemos definir el numero del item que queremos alterar con esta funcion, si colocamos una "n" despues del numero modifica los pares */

    font-weight: bold;
}

#img_diferenciales{

     width: 40%;
     
}

.video{


    width: 50%;
    margin: 1em auto;
}
/*<main/>*/

/*<footer>*/
footer{

    text-align: center;
    background:url(https://i.imgur.com/Wx1wHxi.jpg);
    padding: 40px;
   
}

.copyright{

    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}
/*<footer/>*/

