body{
    background: rgba(238, 238, 141, 0.486);
}


h1{
    background: #cccccc;
    text-align: center;
}

p{

    text-align: center;
}

#parrafo_2 strong{

    color: red;
}

#parrafo_1{
    
    font-size: 16px;
    
}


#parrafo_2{

    font-size: 20px;
    
}


#parrafo_3{

    font-size: 16px;
    
}